header h1 {
  margin-left: px;
}

.tab-container {
  position: relative;

  display: flex;
  flex-direction: row;
  align-items: flex-start;

  padding: 3px;

  background-color: #dadadb;
  border-radius: 0px;

}

.indicator {
  content: "";
  width: 130px;
  height: 28px;
  background: #ffffff;
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: 9;
  border: 0.5px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.04);
  border-radius: 7px;
  transition: all 0.2s ease-out;
}

.tab {
  width: 130px;
  height: 28px;
  position: absolute;
  z-index: 99;
  outline: none;
  opacity: 0;
}

.tab_label {
  width: 130px;
  height: 28px;
  font-weight: bold;

  position: relative;
  z-index: 999;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 0;

  font-size: 0.75rem;
  opacity: 0.6;

  cursor: pointer;
}

.tab--1:checked~.indicator {
  left: 2px;
}

.tab--2:checked~.indicator {
  left: calc(130px + 2px);
}

.tab--3:checked~.indicator {
  left: calc(130px * 2 + 2px);
}

.dark-theme .tab-container {
  background-color: #747373;
  text-decoration-color: black;
}

.dark-theme .tab_label {
  color: #000;
}

.dark-theme .switch {

  background-color: #747373;

}

.dark-theme .title h2 {
  color: #f4f4f4;
}
/* تثبيت شريط التنقل */
.tab-container  {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 3px;
  background-color: #dadadb;
}
.switch{
  position: sticky;
  top: 0;
  z-index: 1000;
}
#codeRainCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* للخلفية */
  pointer-events: none;
  /* منع التفاعل مع الماوس */
}

.content {
  position: relative;
  z-index: 10;
  text-align: center;
  padding: 20px;
}
a {
  text-decoration: none;
}
.desplay{
    display: none;
    background-color: initial;
}